/****** GENERAL ******/
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  display: grid;
  grid-template-rows: 283px 55px auto auto;
  grid-template-columns: 100%;
}

section {
  display: flex;
  flex-flow: column;
  align-items: center;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
}

h2 {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  align-self: flex-start;
  position: relative;
}

h2::after {
  position: absolute;
  bottom: -8px;
  left: 0;
  content: "";
  height: 3px;
  width: 40px;
  background-color: #99E2D0;
}

a {
  text-decoration: none;
  color: black;
}

/********** Main SMARTPHONE **********/
main {
  grid-area: 2/1/4/2;
  z-index: 1;
}

.menu {
  gap: 40px;
  padding: 40px 13px;
  background-color: #F6F6F6;
  border-radius: 35px 35px 0 0;
}
.menu .nom {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 98%;
}
.menu .partie-menu {
  gap: 23px;
  width: 100%;
}
.menu .liste-plats {
  display: flex;
  flex-flow: column;
  gap: 12px;
  width: 100%;
}
.menu .liste-plats .mets {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 70px;
  box-sizing: border-box;
  list-style-type: none;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.menu .liste-plats .mets .conteneur-description-prix {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 100%;
  padding: 13px 15px;
  box-sizing: border-box;
  transition: all 400ms ease;
}
.menu .liste-plats .mets .description {
  display: flex;
  flex-flow: column;
  gap: 5px;
  width: 82%;
}
.menu .liste-plats .mets h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-basis: 100%;
}
.menu .liste-plats .mets p {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu .liste-plats .mets .prix {
  align-self: flex-end;
  text-align: right;
  height: 100%;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}
.menu .liste-plats .mets .voyant-selection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 59px;
  border-radius: 0 15px 15px 0;
  background-color: #99E2D0;
}
.menu .liste-plats .mets .fa-solid.fa-check {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  color: #99E2D0;
  background-color: white;
}
.menu .liste-plats .mets:hover .conteneur-description-prix {
  width: calc(100% - 59px);
  min-width: calc(100% - 59px);
}

/***** animation remplissage coeur *****/
.conteneur-coeurs {
  margin: 3px 24px 0 0;
  position: relative;
  height: 22px;
  width: 22px;
}
.conteneur-coeurs .fa-heart, .conteneur-coeurs .cache {
  position: absolute;
  top: 0;
  left: 0;
}
.conteneur-coeurs .vide, .conteneur-coeurs .degrade {
  font-size: 22px;
}
.conteneur-coeurs .vide {
  z-index: 6;
  opacity: 1;
  transition: opacity 500ms ease;
}
.conteneur-coeurs .cache {
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: #F6F6F6;
  transition: all 500ms ease;
}
.conteneur-coeurs .degrade {
  background: linear-gradient(0deg, #FF79DA, #9356DC), #9356DC;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.conteneur-coeurs:hover .vide {
  opacity: 0;
}

.conteneur-coeurs:hover .cache {
  height: 0;
}

/***** bouton commander *****/
main button {
  width: 186px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC), #9356DC;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  border: none;
  transition: all 400ms ease;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

main button:hover {
  background: linear-gradient(#ff89ea, #a366ec), #9356DC;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

/*# sourceMappingURL=styles_restau.css.map */
