/****** HEADER SMARTHONE******/

.bandeau{
    @include flex-centre;
    height: 63px;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
    & a{
        visibility: hidden;
        position: absolute;
        left: 17px;
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        .fa-arrow-left{
            font-size: 16px;
            color: $ap-footer;
        }
    }
    & img{
        margin-top: 5px;
        height: 30px;
    }
}
.localisation{
    @include flex-centre;
    height: 50px;
    gap: 17px;
    background-color: #eaeaea;
    & .fa-location-dot{
        font-size: 16px;
        color: $ap-footer;
    }
    & p{
        @include petit-texte;
        color: $ap-footer;
    }
}

    /********** Header DESKTOP **********/

@media (min-width: 1024px){
    .bandeau{
        height: 96px;
        & img{
            margin-top: 0;
            height: 34px;
        }
    }
}

    /********   Header TABLETTE     **********/

    @media (min-width : 768px) and (max-width: 1023px){
        .bandeau{
            height: 75px;
            & img{
                margin-top: 0;
                height: 34px;
            }
        }
    }