/****** HEADER RESTAURANT SMARTHONE******/

header{
    grid-area: 1/1/3/2;
}
.bandeau{
    @include flex-centre;
    height: 63px;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
    & a{
        position: absolute;
        left: 17px;
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        .fa-arrow-left{
            font-size: 16px;
            color: $ap-footer;
        }
    }
    & img{
        height: 30px;
        margin-top: 5px;
    }
}
.image-de-couverture{
    width: 100%;
    height: 275px;
    object-fit: cover;
}

/********** Header DESKTOP **********/

@media (min-width: 1024px){
    .bandeau{
        height: 96px;
        & img{
            margin-top: 0;
            height: 34px;
        }
    }
    .image-de-couverture{
        height: 383px;
    }
}

/********   Header TABLETTE     **********/

@media (min-width : 768px) and (max-width: 1023px){
    .bandeau{
        height: 75px;
        & img{
            margin-top: 0;
            height: 34px;
        }
    }
    .image-de-couverture{
        height: 325px;
    }
}