/****** GENERAL ******/

$principale :#9356DC;
$couleur-2: #FF79DA;
$couleur-3: #99E2D0;
$ap-footer : #353535;
$ap :#F6F6F6;

@mixin flex-centre{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin petit-texte{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

/****** HEADER SMARTHONE******/

.bandeau{
    @include flex-centre;
    height: 63px;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
    & a{
        visibility: hidden;
        position: absolute;
        left: 17px;
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        .fa-arrow-left{
            font-size: 16px;
            color: $ap-footer;
        }
    }
    & img{
        height: 36px;
    }
}
.localisation{
    @include flex-centre;
    height: 50px;
    gap: 17px;
    background-color: #eaeaea;
    & .fa-location-dot{
        font-size: 16px;
        color: $ap-footer;
    }
    & p{
        @include petit-texte;
        color: $ap-footer;
    }
}

    /********** Header DESKTOP **********/

@media (min-width: 1024px){
    .bandeau{
        height: 96px;
    }
}