/****** GENERAL ******/

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
$ap-footer : #353535;
$ap :#F6F6F6;
$bouton :#9356DC;

@mixin petit-texte{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
body{
    width: 100vw;
}
// main{
//     width: 100%;
// }
section{
    display: flex;
    flex-flow: column;
    align-items: center;
}
h1, h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}
h2{
    align-self: flex-start;
}
a{
    text-decoration: none;
    color: black;
}

/****** HEADER ******/

.bandeau{
    height: 63px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
    & a{
        position: absolute;
        left: 17px;
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        .fa-arrow-left{
            font-size: 16px;
            color: $ap-footer;
        }
    }
    & img{
        height: 36px;
    }
}
.localisation{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    background-color: #eaeaea;
    & .fa-location-dot{
        font-size: 16px;
        color: $ap-footer;
    }
    & p{
        @include petit-texte;
        color: $ap-footer;
    }
}

/****** MAIN ******/

.annonce{
    background-color: $ap;
    & h1{
        width: 66%;
        margin: 40px 0 14px;
        text-align: center;
    }
    & p{
        margin-bottom: 29px;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
    }

    /****** Styles et animation survol bouton ******/

    & button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 218px;
        height: 50px;
        border-radius: 25px;
        margin-bottom: 57px;
        background: linear-gradient(  #ff79da, $bouton), $bouton;
        box-shadow: 0 4px 10px 0 rgba(0,0,0,0.25);
        border: none;
        transition: all 400ms ease ;
            & a{
            text-align: center;
            color: white;
            @include petit-texte;
        }  
    }
    & button:hover{
        background: linear-gradient(  #ff89ea, #a366ec ), $bouton;
        box-shadow: 0 8px 10px 0 rgba(0,0,0,0.30);
        transform: scale(1.05);
    }  
}

/****** Section fonctionnement avec etapes ******/

.fonctionnement{
    gap: 25px;
    padding: 50px 20px 68px ;
}
.etape{
    display: flex;
    align-items: center;
    position: relative;
    height: 72px;
    width: 323px;
    margin-left: 12px;
    border-radius: 20px;
    background-color: $ap;
    box-shadow: 0 4px 15px 0 rgba(0,0,0,0.15);
    & .gommette{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 24px;
        width: 24px;
        position: absolute;
        left: -12px;
        border-radius: 50%;
        background-color: $bouton;
        & p{
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: white;
        }
    }
    & .fa-solid{
        width: 60px;
        margin-left: 12px;
        display: flex;
        justify-content: center;
        
        color: #7e7e7e;
    }
    & .fa-mobile-screen-button{
        margin-bottom: 6px;
        font-size: 20px;
    }
    & .fa-list-ul{
        margin-bottom: 1px;
        font-size: 16px;
    }
    & .fa-store{
        margin-bottom: 5px;
        font-size: 18px;
    }
    & h3{
        @include petit-texte;
    }
}

/****** restaurants ******/

.restaurants{
    display: flex;
    flex-flow: column;
    gap:18px;
    align-items: center;
    padding: 57px 17px 66px;
    background-color: $ap;
    & .carte{
        width: 340px;
        border-radius: 15px;
        background-color: white;
        box-shadow: 0 4px 15px 0 rgba(0,0,0,0.10);
        & a{
            display: flex;
            flex-flow: column;
            position: relative;
        }
        & .badge{
            position: absolute;
            top: 13px;
            right: 13px;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            padding: 7px 12px 5px;
            background-color: #99E2D0;
            color: #008766;
            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
        }
        & img{
            height: 174px;
            width: 100%;
            object-fit: cover;
            object-position: bottom;
            border-radius: 15px 15px 0 0;
        }
        & .legende{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 17px 25px 17px 13px;
            & h3{
                margin-bottom: 4px;
                font-weight: 700;
                font-size: 18px;
                line-height: 21px;
            }
            & p{
                font-weight: 300;
                font-size: 17px;
                line-height: 19px;
            }
        }
    }
    & .carte:nth-child(3) img{
        object-position: 0 60%;
    }
}

/****** Styles et animation remplissage coeur ******/

.conteneur-coeurs{
    align-self: flex-start;
    margin-top: 3px;
    position: relative;
    height: 22px;
    width: 22px;
    .fa-heart, .cache{
        position: absolute;
        top: 0;
        left: 0;
    }
    .vide, .degrade{
        font-size: 22px;
    }
    .vide{
        z-index: 10;
        opacity: 1;
        transition: opacity 500ms ease;
    }
    .degrade{
        background: linear-gradient(0deg,  #ff79da, $bouton), $bouton;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
    &.conteneur-coeurs .cache{
        z-index: 5;
        width: 100%;
        height: 100%;
        background-color: white;
        transition: all 500ms ease;
    }
}
.conteneur-coeurs:hover .vide{
    opacity: 0;
}
.conteneur-coeurs:hover .cache{
    height: 0;
}

/****** FOOTER ******/

footer{
    background-color: $ap-footer;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    gap: 16px;
    padding: 22px 25px;
    & h3{
        font-family: 'Shrikhand', cursive;
        font-weight: 400;
        font-style: italic;
        font-size: 18px;
        line-height: 26px;
        color: white;
    }
    & ul{
        display: flex;
        flex-flow: column;
        gap: 7px;
        list-style-type: none;
        & li a{
            @include petit-texte;
            color: white;
        }
        & li a .fa-solid{
            font-size: 16px;
            margin-right: 12px;
        }
        & li:nth-child(3) a, li:nth-child(4) a{
            font-weight: 400;
        }
    }
}